* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-col {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

$border-radius: 5px;

.navbar {
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    background-color: var(--white);
    @extend %flex-center;
}

.navbar__item {
    width: 100%;
    padding: 20px;
    @extend %flex-center;
    gap: 20px;
    position: relative;
    justify-content: space-between;
}

.navbar__filter {
    @extend %flex-col;
    align-items: flex-start;
    width: 200px;
    position: absolute;
    z-index: 13;
    top: 100%;
    right: 0;
    gap: 10px;
    background: var(--white);
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    transition: .4s all;
}

.navbar__filter-btn {
    padding: 8px 15px;
    background: var(--bg-primary);
    @extend %flex-center;
    gap: 5px;
    border-radius: $border-radius;
    color: var(--white)
}

.navbar__position,.navbar__category {
    @extend %flex-col;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    overflow: hidden;
    transition: .4s all;
    position: relative;
}

.filter__list-item {
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    border-radius: $border-radius;
}

.filter__list-btn {
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    width: 100% !important;
    border-radius: $border-radius;
    background: var(--bg-primary);
    color: var(--white);
    @extend %flex-center;
    justify-content: space-between;
}



.filter__list-item:hover {
    background: var(--bg-main);
}



.navbar__search {
    width: 50%;
    border: 1px solid silver;
    padding: 8px 15px;
    border-radius: $border-radius;
    outline: none;
}

.navbar__search:focus {
    border: 1px solid var(--bg-primary);
    
}

.navbar__right {
    @extend %flex-center;
    gap: 30px;
}

.navbar__order {
    @extend %flex-center;
    gap: 5px;
    border-radius: $border-radius;
    background: var(--bg-primary);
    color: var(--white);
    padding: 8px 15px;
}