* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.sidebar {
    background-color: var(--white);
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;

    .sidebar__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 80%;
            // height: 200px;
        }
    }

    ul {
        // padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        position: relative;

        .sidebar__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            width: 90%;
            color: #555;
            font-weight: 600;
            padding-left: 10px;

            .sidebar__icon {
                font-size: 20px;
            }

            .sidebar_link {
                color: #555;
                font-weight: 600;
                width: 90%;
                padding: 13px 0;
            }

            .active_link {
                width: 5px;
                height: 50px;
                background-color: var(--bg-primary);
                border-radius: 5px 0 0 5px;
                position: absolute;
                right: 0;
            }

        }


        .sidebar_link-active {
            border-radius: 8px;
            background: var(--bg-main);

            .sidebar__icon {
                color: var(--bg-primary);
            }

            .sidebar_link {
                color: var(--bg-primary);
            }
        }

        .sidebar__links:hover {
            background-color: var(--bg-main);
            border-radius: 8px;
        }
    }
}

.app {
    width: 100%;
    display: flex;
    
    
    .app_right {
        margin-left: 250px;
        width: 100%;
        min-height: 100vh;
        z-index: 2;
    }
}