@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #fff;
  --black: #000;
  --bg-primary: #646cff;
  --bg-main: #e8e6e6;
} 

body {
  background-color: var(--bg-main);
}


